<!DOCTYPE html>
<html>
<head>
    <title>Nat's Game Recommender</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.jpeg">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/PSone.min.css">
    <style>
        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
        .favorite-game-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .favorite-game {
            width: calc(50% - 10px);
            margin-bottom: 20px;
            /* Other styles for individual game elements */
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="/" {% if current_route == '/' %}class="active"{% endif %}>Home</a>
        <a href="/favorites" {% if current_route == '/favorites' %}class="active"{% endif %}>My Favorites</a>
        <a href="/developers" {% if current_route == '/developers' %}class="active"{% endif %}>Developer</a>
        <a href="/bookmarked_games" {% if current_route == '/bookmarked_games' %}class="active"{% endif %}> Bookmarked Games</a>
        <a href="/filtered_games"> Future Games</a>

        <a href="{{ url_for('search_game') }}">Search Deals</a>

        {% if message %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        {% endif %}
    </div>
       <h1>My Favorites</h1>
 <h2><a href="{{ url_for('favorites') }}" class="btn btn-primary">Show All Favorite Games</a></h2>


    <form method="get">
        <input type="text" name="search" placeholder="Search for a game">
        <button type="submit">Search</button>
    </form>
    <!-- Add the dropdown menu for filtering by genre -->
    <label for="genre_filter">Filter by Genre:</label>
    <select name="genre_filter" id="genre_filter" onchange="filterFavorites()">
        <option value="all">All Genres</option>
        <option value="Action">Action</option>
        <option value="Adventure">Adventure</option>
        <option value="Puzzle">Puzzle</option>
        <option value="Role-Playing">Role-Playing</option>
        <option value="Misc">Misc</option>
        <option value="Sports">Sports</option>
        <option value="Racing">Racing</option>
        <option value="Shooter">Shooter</option>
        <option value="Simulation">Simulation</option>
    </select>
<!-- Add the dropdown menu for filtering by Reddit community -->
<label for="reddit_filter">Filter by Reddit Community:</label>
<select name="reddit_filter" id="reddit_filter" onchange="filterFavorites()">
    <option value="all">All Games</option>
    <option value="with_reddit">With Reddit Community</option>
    <option value="without_reddit">Without Reddit Community</option>
</select>


        <!-- Add more user score options here as needed -->
    </select>

    {% if favorites %}

    <div id="favorites-container" class="favorite-game-container">
        {% for game_name, game in favorites.items() %}
        
            <div class="favorite-game">
                <h3><a href="https://www.google.com/search?q={{ game['Name'] }}" target="_blank">{{ game['Name'] }}</a></h3>
                {% if game['photo']%}
                <img src="{{ game['photo'] }}" alt="{{ game.Name }} Photo" width="400" height="300">

            {% else %}
            <p>No photo available.</p>
            <!-- Display a default image or placeholder if no photo available -->
            {% endif %}

                <p>Genre: {{ ', '.join(game['Genre']) }}</p>
                <p>User Score: {{ game['User_Score'] }}</p>
                
                <!-- Display the Reddit URL for the game -->
                {% if 'reddit_url' in game %}
                {% if game['reddit_url'] != 'No Reddit URL available.' %}
                    Reddit Community: <a href="{{ game['reddit_url'] }}" target="_blank">{{ game['reddit_url'] }}</a>
                {% else %}
                    {{ game['reddit_url'] }}
                {% endif %}
            {% else %}
                Reddit URL not available.
            {% endif %}
                <br>
                <br>
            {% if 'website' in game %}
            {% if game['website'] != 'No website URL available.' %}
                Game Website: <a href="{{ game['website'] }}" target="_blank">{{ game['website'] }}</a>
            {% else %}
                Website URL not available.
            {% endif %}
        {% else %}
        Website URL not available.
        {% endif %}
        <br>

{% if game.Genre|join(", ") in game_info and game_info[game.Genre|join(", ")][game.Name]["stores"] %}
<p class="game-stores">
    Stores:
        {% for store in game_info[game.Genre|join(", ")][game.Name]["stores"] %}
            {% if store.domain %}
            <li><a href="https://{{ store.domain }}" target="_blank" data-store="{{ store.name }}">{{ store.name }}</a></li>
            {% else %}
                <li>No store information available</li>
            {% endif %}
        {% endfor %}
</p>
{% else %}
Stores Not Found.
{% endif %}

            {% if 'metacritic' in game %}
                {% if game['metacritic'] != 'No Metacritic URL available.' %}
                    Metacritic: <a href="{{ game['metacritic'] }}" target="_blank">{{ game['metacritic'] }}</a>
                {% else %}
                    Metacritic URL not available.
                {% endif %}
                {% else %}
                MetaCritic URL not available.
            {% endif %}
            
                {% if game['developers'] != 'No Developer information available.' %}
                <p>Developers: {{ ', '.join(game['developers']) }}</p>
            {% else %}
                Developer information not available.
            {% endif %}
                <form action="{{ url_for('remove_from_favorites') }}" method="post">
                    <input type="hidden" name="game_name" value="{{ game['Name'] }}">
                    <button type="submit">Remove from Favorites</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No favorite games found.</p>
{% endif %}

    <script>
        // Function to sort the games by user score in descending order
        function sortGamesByScore() {
            const favoriteGames = document.getElementsByClassName("favorite-game");
            const gamesArray = Array.from(favoriteGames);
    
            gamesArray.sort((gameA, gameB) => {
                const userScoreA = parseFloat(gameA.querySelector("p:nth-of-type(2)").textContent.split(": ")[1]);
                const userScoreB = parseFloat(gameB.querySelector("p:nth-of-type(2)").textContent.split(": ")[1]);
                return userScoreB - userScoreA;
            });
    
            // Clear the existing games in the container
            const favoritesContainer = document.getElementById("favorites-container");
            favoritesContainer.innerHTML = "";
    
            // Add the sorted games back to the container
            for (const game of gamesArray) {
                favoritesContainer.appendChild(game);
            }
        }
    
        function filterFavorites() {
            const selectedGenre = document.getElementById("genre_filter").value;
            const selectedRedditFilter = document.getElementById("reddit_filter").value;
            const favoriteGames = document.getElementsByClassName("favorite-game");
    
            for (const game of favoriteGames) {
                const genre = game.querySelector("p:nth-of-type(1)").textContent.split(": ")[1];
                const genreMatch = selectedGenre === "all" || genre.includes(selectedGenre);
    
                let redditMatch = true;
                if (selectedRedditFilter === "with_reddit") {
                    redditMatch = game.querySelector("a[href^='https://www.reddit.com/']") !== null;
                } else if (selectedRedditFilter === "without_reddit") {
                    redditMatch = game.querySelector("a[href^='https://www.reddit.com/']") === null;
                }
    
                if (genreMatch && redditMatch) {
                    game.style.display = "block";
                } else {
                    game.style.display = "none";
                }
            }
        }
    
        // Call the sorting and filtering functions on page load
        window.onload = function () {
            sortGamesByScore();
            filterFavorites();
        };
    </script>
</body>
</html>